body {
	background: #f8f8f8 url(../images/textures/debut_light.png); /* Courtesy of SubtlePatterns.com */
}

#wrapper {
	width: 475px;
	background: #ffffff url() repeat;
	margin: 40px auto 40px auto;
	box-shadow: 0px 1px 2px rgba(20,20,20,0.5);
	padding: 40px;
	position: relative;
	text-align: left;
	
}

#bio {
	margin-top: 25px;
	line-height: 1.4em;
}

/********** HEADER */

h1 {
	font-weight: 400;
	font-size: 50px;
	text-shadow: 1px 1px 1px rgba(175,175,175, 0.5);
}

#gravatar {
	display: none;
	position: absolute;
	top: 40px;
	right: 40px;
}

#gravatar img {
	height: 32px;
	box-shadow: 1px 1px 1px rgba(100,100,100, 0.3);
}

/********** LINKS */

#links {
	margin-top: 30px;
}

li {
	display: inline-block;
}

li + li {
	padding-left: 10px;
}

.icon.icon-facebook { background: url(/assets/images/%23303030/facebook.png); }
.icon.icon-twitter { background: url(/assets/images/%23303030/twitter.png); }
.icon.icon-linkedin { background: url(/assets/images/%23303030/linkedin.png); }
.icon.icon-github { background: url(/assets/images/%23303030/github.png); }

li .icon.icon {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.icon-anchor-text {
	position: absolute;
	left: 9999px;
}

/*********** TYPOGRAPHY */

body {
	font-family: "Josefin Slab", Cochin, serif;
	font-size: large;
	color: #303030;
}

.email {
	font-weight: bold;
}

/*********** MOBILE */

@media all and (max-width: 520px) {
	#wrapper {
		margin-top: 5%;
		height: auto;
		width: 90%;
	}

	h1 {
		max-width: 280px;
	}	
}

/*********** RETINA */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	body {
		background-image: url(../images/textures/debut_light_@2X.png);
    	background-size: 200px 200px;
	}
}

/*********** ENTIRELY AESTHETIC */

#wrapper:before, #wrapper:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);    
	-moz-transform: rotate(-3deg);   
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#wrapper:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
